

.menu-page {
    padding: 20px;
  }
  
  .menu-items {
    display: flex;
    flex-wrap: wrap;
  }
  
  .menu-item {
    margin: 10px;
    text-align: center;
  }
  
  .menu-item img {
    width: 200px;
    height: 200px;
  }
  
  .menu-item p {
    font-size: 20px;
    color: lightcoral;
  }
  

  @media screen and (max-width: 1150px) {
    .menu-items {
      justify-content: center;
    }
  
    .menu-item {
      flex-basis: calc(50% - 20px); 
    }
  }
  
  @media screen and (max-width: 650px) {
    .menu-item {
      flex-basis: calc(100% - 20px);
    }
  
    .menu-item img {
      width: 100%;
      height: auto;
    }
  
    .menu-item p {
      font-size: 16px; 
    }
  }
  